﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outbox - @ViewBag.UserName</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"/>

	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="stylesheet" href="/lib/font-awesome/font-awesome.css" />
	@*<link rel="stylesheet" href="//tamtakoe.github.io/oi.multiselect/dist/multiselect.css" />*@
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
	@*<script src="/lib/oi.multiselect/multiselect-tpls.js"></script>*@
	<link rel="stylesheet" href="//mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
	<link rel="stylesheet" href="/lib/vis/vis.min.css" />
	<script src="//mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
	<script src="/lib/rangy/rangy-core.min.js" type="text/javascript"></script>
	<script src="/lib/rangy/rangy-selectionsaverestore.min.js" type="text/javascript"></script>
	<script src="/lib/textAngular/textAngular-sanitize.js" type="text/javascript"></script>
	<script src="/lib/textAngular/textAngularSetup.js" type="text/javascript"></script>
	<script src="/lib/textAngular/textAngular.js" type="text/javascript"></script>
	<script src="/lib/favico.js/favico.js"></script>
	<script src="/lib/angular-visjs/angular-vis.js"></script>
	<script src="/lib/vis/vis.min.js"></script>
	<script src="/lib/moment/moment.js"></script>
	<script src="/lib/angular-clear-input/angular-clear-input.js"></script>

	<script src="/Scripts/app.js"></script>
	<script src="/Scripts/Services/calendarService.js"></script>
	<script src="/Scripts/Services/contactService.js"></script>
	<script src="/Scripts/Services/eventsService.js"></script>
	<script src="/Scripts/Services/messageService.js"></script>
	<script src="/Scripts/Services/outboxService.js"></script>
	<script src="/Scripts/Controllers/calendarController.js"></script>
	<script src="/Scripts/Controllers/errorController.js"></script>
	<script src="/Scripts/Controllers/outboxController.js"></script>
	<script type="text/javascript" src="/lib/jquery/jquery.js"></script>
	<script type="text/javascript" src="/lib/signalr/jquery.signalR.js"></script>
	<script type="text/javascript" src="/lib/angular-signalr-hub/signalr-hub.js"></script>
</head>
<body ng-app="outboxApp">
	<div ng-controller="errorController" ng-cloak>
		<div class="errorList">
			<alert ng-repeat="error in errors | orderBy :'-Date'">
				<i>{{error.Date.calendar()}}</i>
				<i>{{error.Message}}</i>
				<i>{{error.Url}}:{{error.LineNumber}}</i>
			</alert>
		</div>
	</div>
	<div ng-controller="outboxController">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.ActionLink("Outbox", "Index", new {controller = "Outbox", id = "Outbox"}, new {@class = "navbar-brand"})
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						@RenderSection("NavBar", required: false)
					</ul>
					@*@await Html.PartialAsync("_LoginPartial")*@
				</div>
			</div>
		</div>
		<div class="container body-content">
			@RenderBody()
			<hr />
			<footer>
				<p>&copy; @DateTime.Now.Year - Outbox</p>
			</footer>
		</div>
		<script src="~/lib/jquery/jquery.js"></script>
		<script src="~/lib/bootstrap/js/bootstrap.js"></script>
		<script src="~/lib/hammer.js/hammer.js"></script>
		<script src="~/lib/bootstrap-touch-carousel/js/bootstrap-touch-carousel.js"></script>
		@RenderSection("scripts", required: false)
	</div>
</body>
</html>