﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* CAROUSEL
-------------------------------------------------- */

.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {

    .carousel-caption {
        z-index: 10 !important;
    }
}


/* mail list*/
.maillist {

	width: 100%;

	
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.maillist .row {
	padding: 0.75em;
	background-color: #eee;
	margin-bottom: 0.25em;
	font-weight: bold;
}

.maillist iframe {
	height: 50vh;
	width: 100%;
	border: 0px;
}

.button {
  cursor: pointer;
	background: #ccc;
	color: #fff;
	padding: 0.125em;
	border-radius: 0.125em;
}

.button:hover {
	color: #000;
}

.ta-editor {
	width: 100%;
	height: auto;
}

.ta-editor [ta-bind] {
	min-height: 300px;
}

.ta-hidden-input { /* this should be hidden by the TA css, but isn't. weird. */
	display: none;
}

.IsUnread > .panel-heading > .panel-title {
	font-weight: bold;
}

section {
	margin-top: 1em;
}

.animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
}
 
.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}


/* ------------------------- loading spinner ---------------*/
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* -----------  error panel -------- */
.errorList {
	width: 250px;
	color: #666;
	float: left;
}

.errorList .new {
	color: black;
}

.conversation .subject
{
	overflow: hidden;
	width: 70%;
	display: inline-block;
}
.conversation .buttons {
	width: 29%;
	text-align: right;
	display: inline-block;
}

.draft .subject {
	width: 100%;
	max-width: 100%;
}

.navbar-nav li input {
	margin-top: 12px;
}

.clear-button-inside {
	margin-left: -1em;
	cursor: pointer;
}

.alert {
  width: 400px;
}

.alert div {
  overflow: hidden;
}

.initialicon
{
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 16px;  
}

.panel-group .panel
{
  border-radius: 0px;
  box-shadow: #666 
}

.panel {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}