﻿@model string

@section NavBar
{

	<li ng-click="NewMessage()">
		<a href="#">New</a>
	</li>
	<li>
		<input ng-model="SearchText" placeholder="Search" clear-input clear-btn-class="clear-button-inside"/>
	</li>
	<li>
		@Html.ActionLink("New UI", "NewUI")
	</li>
}
<script src="/Scripts/md5.js"></script>
<script src="/Scripts/Models/Contact.js"></script>
<script src="/Scripts/Models/Message.js"></script>
<script src="/Scripts/Models/Conversation.js"></script>
<script>
	window.folderName = "@Model";
	window.myEmail = "@ViewBag.UserName";
</script>
    <script type="text/ng-template" id="contacttag-template">
		<img ng-if="data.AvatarType == 'gravatar'"" height="28px" ng-src="{{data.AvatarUrl}}" />
		<img ng-if="data.AvatarType == 'initialicon'" class="initialicon" ng-src="{{data.AvatarUrl}}" />
	    <span popover="{{data.Email}}" popover-trigger="mouseenter" popover-append-to-body="true">{{data.Name}}</span>
        <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
    </script>
<section ng-cloak ng-controller="calendarController">
		<vis-timeline data="calendar"></vis-timeline>
</section>
<section ng-cloak>
	<div class="spinner" ng-if="Loading">
		<div class="double-bounce1"></div>
		<div class="double-bounce2"></div>
	</div>
	<div ng-if="!Loading">
		<accordion class="maillist">
			<accordion-group ng-class="{'IsUnread': conversation.UnreadCount() > 0}" ng-animate="'animate'" is-open="conversation.IsOpen"
							  ng-repeat="conversation in currentView() | filter:{State: '!done'} | orderBy:'LatestDate':true">
				<accordion-heading>
					<div class="conversation" ng-class='[conversation.State]' ng-click="LoadConversation(conversation)">
						<div class="subject">
							({{conversation.MessageIds.length}}) {{conversation.Subject == '' || conversation.Subject == null ? '(No Subject)' : conversation.Subject}}
							[{{conversation.State}}]
						</div>
						<div class="buttons">
							<i class="pull-right glyphicon glyphicon-time button" ng-click="Postpone(conversation, 'This Afternoon')" popover-trigger="mouseenter" popover="This Afternoon"></i>
							<i class="pull-right glyphicon glyphicon-time button" ng-click="Postpone(conversation, 'Tonight')" popover-trigger="mouseenter" popover="Tonight"></i>
							<i class="pull-right glyphicon glyphicon-time button" ng-click="Postpone(conversation, 'Tomorrow')" popover-trigger="mouseenter" popover="Tomorrow"></i>
							<i class="pull-right glyphicon glyphicon-ok button" ng-click="MarkAsDone(conversation)"></i>
							<i class="pull-right">{{conversation.LatestDate.calendar()}}</i>
						</div>
					</div>
				</accordion-heading>
				<accordion close-others="false" >
					<accordion-group ng-repeat="message in conversation.Messages | orderBy:'SortOrder':false" 
									 ng-class="{'IsUnread': !message.IsRead}" 
									 is-open="message.IsOpen">
						<div ng-if="!message.Draft">
							<accordion-heading>
								<div>
									<span popover="{{message.From.Email}}" popover-trigger="mouseenter">
									<img class="initialicon" ng-src="{{message.From.AvatarUrl}}" />
									{{message.From.Name}}
									</span>
									<i class="pull-right button fa fa-reply" ng-click="Reply(conversation, message)"></i>
									<span class="pull-right">{{message.Received.calendar()}}</span>
								</div>
							</accordion-heading>
							<div ng-if="!message.Draft">
								To:
								<span ng-repeat="recipient in message.To track by $index" popover="{{recipient.Email}}" popover-trigger="mouseenter">
									<img class="initialicon" ng-src="{{recipient.AvatarUrl}}" />
									{{recipient.Name}} &nbsp; 
								</span>
							</div>
							<div ng-if="!message.Draft && message.CC.length > 0">
								CC:
								<span ng-repeat="recipient in message.CC track by $index" popover="{{recipient.Email}}" popover-trigger="mouseenter">
									<img class="initialicon" ng-src="{{recipient.AvatarUrl}}" />
									{{recipient.Name}} &nbsp; 
								</span>
							</div>
							<ul ng-if="message.Attachments.length > 0">
								<li ng-repeat="attachment in message.Attachments | orderBy:'Name'">
									<a href="{{attachment.Url}}">{{attachment.Name}}</a>
								</li>
							</ul>
							<iframe ng-src="{{message.Body}}"></iframe>
						</div>
						<div ng-if="message.Draft" class="draft">
							<accordion-heading>
								<img class="initialicon" ng-src="{{message.From.AvatarUrl}}" />
								Me
								<i class="pull-right button fa fa-trash-o" ng-click="Delete(conversation, message)"></i>
							</accordion-heading>
							<i class="pull-right button" ng-click="Send(message)">Send</i>
							<input class="subject" ng-model="message.Subject" placeholder="Subject"/>
							<tags-input ng-model="message.To" display-property="Name" placeholder="To" template="contacttag-template">
								<auto-complete source="queryContacts($query)"></auto-complete>
							</tags-input>
							<tags-input ng-model="message.CC" display-property="Name" placeholder="CC" template="contacttag-template">
								<auto-complete source="queryContacts($query)"></auto-complete>
							</tags-input>
							@*<oi-multiselect ng-options="contact as contact.Name for contact in contacts"
											ng-model="message.To"
											multiple
											placeholder="Select"></oi-multiselect>*@
							<text-angular ng-model="message.Body"></text-angular>
						</div>
					</accordion-group>
				</accordion>
			</accordion-group>
		</accordion>
	</div>
</section>