@{
    Layout = "";
}

<html lang="en" class="yui3-js-enabled">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="A layout example that shows off a responsive email layout.">
            
            <title>Email – Layout Examples – Pure</title>
            
            
            
            
            <link rel="stylesheet" href="/lib/pure/pure.css" />
            
            <link rel="stylesheet" href="/css/NewUI/main.css" />
            
            <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
            <![endif]-->
         
            
            
<!--            <script charset="utf-8" id="yui_3_17_2_1_1431256909474_2" src="http://yui.yahooapis.com/combo?3.17.2/oop/oop-min.js&amp;3.17.2/event-custom-base/event-custom-base-min.js&amp;3.17.2/event-base/event-base-min.js&amp;3.17.2/dom-core/dom-core-min.js&amp;3.17.2/dom-base/dom-base-min.js&amp;3.17.2/selector-native/selector-native-min.js&amp;3.17.2/selector/selector-min.js&amp;3.17.2/node-core/node-core-min.js&amp;3.17.2/dom-style/dom-style-min.js&amp;3.17.2/node-base/node-base-min.js&amp;3.17.2/event-delegate/event-delegate-min.js&amp;3.17.2/node-event-delegate/node-event-delegate-min.js" async=""></script>
                -->
                
        	<script src="/lib/moment/moment.js"></script>

          	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>    
        	<script src="/Scripts/newapp.js"></script>
        	<script src="/Scripts/Services/calendarService.js"></script>
        	<script src="/Scripts/Services/contactService.js"></script>
        	<script src="/Scripts/Services/eventsService.js"></script>
        	<script src="/Scripts/Services/messageService.js"></script>
        	<script src="/Scripts/Services/outboxService.js"></script>
        	<script src="/Scripts/Controllers/outboxController.js"></script>
            <script src="/Scripts/md5.js"></script>
            <script src="/Scripts/Models/Contact.js"></script>
            <script src="/Scripts/Models/Message.js"></script>
            <script src="/Scripts/Models/Conversation.js"></script>
        	<script type="text/javascript" src="/lib/jquery/jquery.js"></script>
        	<script type="text/javascript" src="/lib/signalr/jquery.signalR.js"></script>
        	<script type="text/javascript" src="/lib/angular-signalr-hub/signalr-hub.js"></script>
            <script>
            	window.folderName = "@Model";
            	window.myEmail = "@ViewBag.UserName";
            </script>
        </head>
    <body ng-app="outboxApp">
            
            <div id="layout" class="content pure-g" ng-controller="outboxController">
                <div id="nav" class="pure-u">
                    <a href="#" class="nav-menu-button">Menu</a>
                    
                    <div class="nav-inner">
                        <button class="primary-button pure-button">Compose</button>
                    
                        <div class="pure-menu">
                            <ul class="pure-menu-list">
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Inbox <span class="email-count">(2)</span></a></li>
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Important</a></li>
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sent</a></li>
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drafts</a></li>
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trash</a></li>
                                <li class="pure-menu-heading">Labels</li>
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-personal"></span>Personal</a></li>
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Work</a></li>
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div id="list" class="pure-u-1">
                    <div class="email-item email-item-selected pure-g" ng-repeat="conversation in currentView() | filter:{State: '!done'} | orderBy:'LatestDate':true">
                        <div class="pure-u">
                            	<img class="email-avatar" alt="Tilo Mitra's avatar" height="64" width="64" src="/img/common/tilo-avatar.png">
                        </div>
                        
                        <div class="pure-u-3-4">
                            <h5 class="email-name">Tilo Mitra</h5>
                            <h4 class="email-subject">Hello from Toronto</h4>
                            <p class="email-desc">
                                Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div id="main" class="pure-u-1">
                    <div class="email-content">
                        <div class="email-content-header pure-g">
                            <div class="pure-u-1-2">
                                <h1 class="email-content-title">Hello from Toronto</h1>
                                <p class="email-content-subtitle">
                                    From <a>Tilo Mitra</a> at <span>3:56pm, April 3, 2012</span>
                                </p>
                            </div>
                            
                            <div class="email-content-controls pure-u-1-2">
                                <button class="secondary-button pure-button">Reply</button>
                                <button class="secondary-button pure-button">Forward</button>
                                <button class="secondary-button pure-button">Move to</button>
                            </div>
                        </div>
                        
                        <div class="email-content-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Aliquam ac feugiat dolor. Proin mattis massa sit amet enim iaculis tincidunt. Mauris tempor mi vitae sem aliquet pharetra. Fusce in dui purus, nec malesuada mauris. Curabitur ornare arcu quis mi blandit laoreet. Vivamus imperdiet fermentum mauris, ac posuere urna tempor at. Duis pellentesque justo ac sapien aliquet egestas. Morbi enim mi, porta eget ullamcorper at, pharetra id lorem.
                            </p>
                            <p>
                                Donec sagittis dolor ut quam pharetra pretium varius in nibh. Suspendisse potenti. Donec imperdiet, velit vel adipiscing bibendum, leo eros tristique augue, eu rutrum lacus sapien vel quam. Nam orci arcu, luctus quis vestibulum ut, ullamcorper ut enim. Morbi semper erat quis orci aliquet condimentum. Nam interdum mauris sed massa dignissim rhoncus.
                            </p>
                            <p>
                                Regards,<br>
                                Tilo
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script><div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important"></div>
            
            <script>
            YUI().use('node-base', 'node-event-delegate', function (Y) {
            
            var menuButton = Y.one('.nav-menu-button'),
            nav        = Y.one('#nav');
            
            // Setting the active class name expands the menu vertically on small screens.
            menuButton.on('click', function (e) {
            nav.toggleClass('active');
            });
            
            // Your application code goes here...
            
            });
            </script>
            
            
            <script>
            (function (root) {
            // -- Data --
            root.YUI_config = {"version":"3.17.2","base":"http:\u002F\u002Fyui.yahooapis.com\u002F3.17.2\u002F","comboBase":"http:\u002F\u002Fyui.yahooapis.com\u002Fcombo?","comboSep":"&","root":"3.17.2\u002F","filter":"min","logLevel":"error","combine":true,"patches":[],"maxURLLength":2048,"groups":{"vendor":{"combine":true,"comboBase":"\u002Fcombo\u002F1.18.13?","base":"\u002F","root":"\u002F","modules":{"css-mediaquery":{"path":"vendor\u002Fcss-mediaquery.js"},"handlebars-runtime":{"path":"vendor\u002Fhandlebars.runtime.js"}}},"app":{"combine":true,"comboBase":"\u002Fcombo\u002F1.18.13?","base":"\u002Fjs\u002F","root":"\u002Fjs\u002F"}}};
            root.app || (root.app = {});
            root.app.yui = {"use":function () { return this._bootstrap('use', [].slice.call(arguments)); },"require":function () { this._bootstrap('require', [].slice.call(arguments)); },"ready":function (callback) { this.use(function () { callback(); }); },"_bootstrap":function bootstrap(method, args) { var self = this, d = document, head = d.getElementsByTagName('head')[0], ie = /MSIE/.test(navigator.userAgent), callback = [], config = typeof YUI_config != "undefined" ? YUI_config : {}; function flush() { var l = callback.length, i; if (!self.YUI && typeof YUI == "undefined") { throw new Error("YUI was not injected correctly!"); } self.YUI = self.YUI || YUI; for (i = 0; i < l; i++) { callback.shift()(); } } function decrementRequestPending() { self._pending--; if (self._pending <= 0) { setTimeout(flush, 0); } else { load(); } } function createScriptNode(src) { var node = d.createElement('script'); if (node.async) { node.async = false; } if (ie) { node.onreadystatechange = function () { if (/loaded|complete/.test(this.readyState)) { this.onreadystatechange = null; decrementRequestPending(); } }; } else { node.onload = node.onerror = decrementRequestPending; } node.setAttribute('src', src); return node; } function load() { if (!config.seed) { throw new Error('YUI_config.seed array is required.'); } var seed = config.seed, l = seed.length, i, node; if (!self._injected) { self._injected = true; self._pending = seed.length; } for (i = 0; i < l; i++) { node = createScriptNode(seed.shift()); head.appendChild(node); if (node.async !== false) { break; } } } callback.push(function () { var i; if (!self._Y) { self.YUI.Env.core.push.apply(self.YUI.Env.core, config.extendedCore || []); self._Y = self.YUI(); self.use = self._Y.use; if (config.patches && config.patches.length) { for (i = 0; i < config.patches.length; i += 1) { config.patches[i](self._Y, self._Y.Env._loader); } } } self._Y[method].apply(self._Y, args); }); self.YUI = self.YUI || (typeof YUI != "undefined" ? YUI : null); if (!self.YUI && !self._injected) { load(); } else if (self._pending <= 0) { setTimeout(flush, 0); } return this; }};
            root.YUI_config || (root.YUI_config = {});
            root.YUI_config.seed = ["http:\u002F\u002Fyui.yahooapis.com\u002Fcombo?3.17.2\u002Fyui\u002Fyui-min.js"];
            root.YUI_config.groups || (root.YUI_config.groups = {});
            root.YUI_config.groups.app || (root.YUI_config.groups.app = {});
            root.YUI_config.groups.app.modules = {"start\u002Fapp":{"path":"start\u002Fapp.js","requires":["handlebars-runtime","yui","base-build","router","pjax-base","view","start\u002Fmodels\u002Fgrid","start\u002Fviews\u002Finput","start\u002Fviews\u002Foutput","start\u002Fviews\u002Fdownload"]},"start\u002Fmodels\u002Fgrid":{"path":"start\u002Fmodels\u002Fgrid.js","requires":["yui","querystring","base-build","model","model-sync-rest","start\u002Fmodels\u002Fmq"]},"start\u002Fmodels\u002Fmq":{"path":"start\u002Fmodels\u002Fmq.js","requires":["css-mediaquery","attribute","base-build","model","model-list"]},"start\u002Fviews\u002Fdownload":{"path":"start\u002Fviews\u002Fdownload.js","requires":["yui","base-build","querystring","view"]},"start\u002Fviews\u002Finput":{"path":"start\u002Fviews\u002Finput.js","requires":["base-build","start\u002Fmodels\u002Fmq","start\u002Fviews\u002Ftab"]},"start\u002Fviews\u002Foutput":{"path":"start\u002Fviews\u002Foutput.js","requires":["base-build","escape","start\u002Fviews\u002Ftab"]},"start\u002Fviews\u002Ftab":{"path":"start\u002Fviews\u002Ftab.js","requires":["yui","base-build","view"]}};
            }(this));
            </script>
            <script>
            app.yui.use('node-base', 'node-event-delegate', function (Y) {
            // This just makes sure that the href="#" attached to the <a> elements
            // don't scroll you back up the page.
            Y.one('body').delegate('click', function (e) {
            e.preventDefault();
            }, 'a[href="#"]');
            });
            </script>
            
            
            
            
    
    
    
    
    </body>
</html>